/subsystem=undertow/server=default-server/http-listener=default:write-attribute(name=proxy-address-forwarding,value=true)
/subsystem=undertow/server=default-server/http-listener=default:write-attribute(name=redirect-socket,value=proxy-https)
try
/socket-binding-group=standard-sockets/socket-binding=proxy-https:add(port={{ socket_binding_proxy_port }})
catch
/subsystem=undertow/server=default-server/http-listener=default:undefine-attribute(name=proxy-address-forwarding)
/subsystem=undertow/server=default-server/http-listener=default:undefine-attribute(name=redirect-socket)
/socket-binding-group=standard-sockets/socket-binding=proxy-https:remove
/socket-binding-group=standard-sockets/socket-binding=proxy-https:add(port={{ socket_binding_proxy_port }})
finally
reload
end-try

